
.searchcontainer{
    background: #f7ecec;
    border: 1px solid grey;
    width: 65%;
    padding: 20px;
    margin: 18px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
}
.datepick {
    display: flex;
    align-items: center;
}
.datepick .example-custom-input{
    color: rgb(252, 56, 22);
    background-color: rgb(255, 255, 255);
    border:1px solid red;
    width: 10rem;
    height: 2.5rem;
}
.searchcontainer h3 {
    color: rgb(78, 124, 124);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px 0 30px 0;
}