.sidebar{
    /* background-color: rgb(207, 219, 219); */
    width: 27%;
    margin: 20px;
    /* position: absolute; */
    /* top: 50px; */
    /* left: 75%; */
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 10px;
}
.sidebar li{
    width: 80%;
}
.sidebar a{
    text-decoration: none;
}