.sidebar{
    /* background-color: rgb(207, 219, 219); */
    width: 27%;
    position: absolute;
    top: 120px;
    right: 20px;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 10px;
}
.sidebar li{
    width: 80%;
}
.sidebar a{
    text-decoration: none;
}